<!DOCTYPE html>
<html>
<head>
    <title>Ict Meeting System</title>
    <style>
        body{font-family:Arial;margin:40px;background:#f4f6f8}
        .box{background:white;padding:25px;border-radius:8px;max-width:900px;margin:auto}
        table{width:100%;border-collapse:collapse}
        th,td{border:1px solid #ccc;padding:8px}
        th{background:#eee}
        a{color:#0056b3;text-decoration:none;font-weight:bold}
        .nav{margin-bottom:20px}
    </style>
</head>
<body>
<h2>ICT Department Meetings</h2>

<div class="box">
    <div class="nav">
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    {% block content %}{% endblock %}
</div>

</body>
</html>
